In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_info_rows', 200)
pd.set_option('display.max_rows', 500)
df = pd.read_csv(r'C:/Users/razmi/Desktop/accepted_2007_to_2018Q4.csv', nrows=100000,low_memory=False)
df.head(200)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,leadman,10+ years,MORTGAGE,55000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,190xx,PA,5.91,0.0,Aug-2003,675.0,679.0,1.0,30.0,NaN,7.0,0.0,2765.0,29.7,13.0,w,0.00,0.00,4421.723917,4421.72,3600.00,821.72,0.0,0.0,0.0,Jan-2019,122.67,NaN,Mar-2019,564.0,560.0,0.0,30.0,1.0,Individual,NaN,NaN,NaN,0.0,722.0,144904.0,2.0,2.0,0.0,1.0,21.0,4981.0,36.0,3.0,3.0,722.0,34.0,9300.0,3.0,1.0,4.0,4.0,20701.0,1506.0,37.2,0.0,0.0,148.0,128.0,3.0,3.0,1.0,4.0,69.0,4.0,69.0,2.0,2.0,4.0,2.0,5.0,3.0,4.0,9.0,4.0,7.0,0.0,0.0,0.0,3.0,76.9,0.0,0.0,0.0,178050.0,7746.0,2400.0,13734.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,Engineer,10+ years,MORTGAGE,65000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business,Business,577xx,SD,16.06,1.0,Dec-1999,715.0,719.0,4.0,6.0,NaN,22.0,0.0,21470.0,19.2,38.0,w,0.00,0.00,25679.660000,25679.66,24700.00,979.66,0.0,0.0,0.0,Jun-2016,926.35,NaN,Mar-2019,699.0,695.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,204396.0,1.0,1.0,0.0,1.0,19.0,18005.0,73.0,2.0,3.0,6472.0,29.0,111800.0,0.0,0.0,6.0,4.0,9733.0,57830.0,27.1,0.0,0.0,113.0,192.0,2.0,2.0,4.0,2.0,NaN,0.0,6.0,0.0,5.0,5.0,13.0,17.0,6.0,20.0,27.0,5.0,22.0,0.0,0.0,0.0,2.0,97.4,7.7,0.0,0.0,314017.0,39475.0,79300.0,24667.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,truck driver,10+ years,MORTGAGE,63000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,home_improvement,NaN,605xx,IL,10.78,0.0,Aug-2000,695.0,699.0,0.0,NaN,NaN,6.0,0.0,7869.0,56.2,18.0,w,0.00,0.00,22705.924294,22705.92,20000.00,2705.92,0.0,0.0,0.0,Jun-2017,15813.30,NaN,Mar-2019,704.0,700.0,0.0,NaN,1.0,Joint App,71000.0,13.85,Not Verified,0.0,0.0,189699.0,0.0,1.0,0.0,4.0,19.0,10827.0,73.0,0.0,2.0,2081.0,65.0,14000.0,2.0,5.0,1.0,6.0,31617.0,2737.0,55.9,0.0,0.0,125.0,184.0,14.0,14.0,5.0,101.0,NaN,10.0,NaN,0.0,2.0,3.0,2.0,4.0,6.0,4.0,7.0,3.0,6.0,0.0,0.0,0.0,0.0,100.0,50.0,0.0,0.0,218418.0,18696.0,6200.0,14877.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,Information Systems Officer,10+ years,MORTGAGE,110000.0,Source Verified,Dec-2015,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,076xx,NJ,17.06,0.0,Sep-2008,785.0,789.0,0.0,NaN,NaN,13.0,0.0,7802.0,11.6,17.0,w,15897.65,15897.65,31464.010000,31464.01,19102.35,12361.66,0.0,0.0,0.0,Feb-2019,829.90,Apr-2019,Mar-2019,679.0,675.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,301500.0,1.0,1.0,0.0,1.0,23.0,12609.0,70.0,1.0,1.0,6987.0,45.0,67300.0,0.0,1.0,0.0,2.0,23192.0,54962.0,12.1,0.0,0.0,36.0,87.0,2.0,2.0,1.0,2.0,NaN,NaN,NaN,0.0,4.0,5.0,8.0,10.0,2.0,10.0,13.0,5.0,13.0,0.0,0.0,0.0,1.0,100.0,0.0,0.0,0.0,381215.0,52226.0,62500.0,18000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,Contract Specialist,3 years,MORTGAGE,104433.0,Source Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,major_purchase,Major purchase,174xx,PA,25.37,1.0,Jun-1998,695.0,699.0,3.0,12.0,NaN,12.0,0.0,21929.0,64.5,35.0,w,0.00,0.00,11740.500000,11740.50,10400.00,1340.50,0.0,0.0,0.0,Jul-2016,10128.96,NaN,Mar-2018,704.0,700.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,331730.0,1.0,3.0,0.0,3.0,14.0,73839.0,84.0,4.0,7.0,9702.0,78.0,34000.0,2.0,1.0,3.0,10.0,27644.0,4567.0,77.5,0.0,0.0,128.0,210.0,4.0,4.0,6.0,4.0,12.0,1.0,12.0,0.0,4.0,6.0,5.0,9.0,10.0,7.0,19.0,6.0,12.0,0.0,0.0,0.0,4.0,96.6,60.0,0.0,0.0,439570.0,95768.0,20300.0,88097.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,68485643,NaN,16000.0,16000.0,16000.0,36 months,14.85,553.48,C,C5,Nurse,2 years,RENT,43000.0,Source Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,credit_card,Credit card refinancing,104xx,NY,17.11,0.0,Sep-2010,675.0,679.0,0.0,NaN,NaN,13.0,0.0,10130.0,51.2,16.0,f,0.00,0.00,19924.299267,19924.30,16000.00,3924.30,0.0,0.0,0.0,Jan-2019,567.76,NaN,Feb-2019,614.0,610.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,20258.0,2.0,2.0,1.0,1.0,5.0,10128.0,85.0,5.0,9.0,2116.0,64.0,19800.0,0.0,0.0,3.0,10.0,1558.0,3024.0,64.8,0.0,0.0,49.0,63.0,2.0,2.0,0.0,2.0,NaN,7.0,NaN,0.0,3.0,8.0,4.0,5.0,2.0,11.0,14.0,8.0,13.0,0.0,0.0,0.0,6.0,100.0,50.0,0.0,0.0,31669.0,20258.0,8600.0,11869.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
196,68526838,NaN,8000.0,8000.0,8000.0,36 months,7.49,248.82,A,A4,Teacher,10+ years,MORTGAGE,57000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,158xx,PA,25.01,0.0,Mar-2000,740.0,744.0,0.0,NaN,NaN,19.0,0.0,15916.0,41.1,31.0,w,0.00,0.00,8973.886929,8973.89,8000.00,973.89,0.0,0.0,0.0,Jan-2019,248.55,NaN,Jan-2019,769.0,765.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,108395.0,0.0,5.0,0.0,2.0,15.0,40390.0,62.0,0.0,3.0,3948.0,54.0,38700.0,1.0,9.0,0.0,5.0,6376.0,13178.0,33.1,0.0,0.0,125.0,189.0,19.0,15.0,2.0,54.0,NaN,23.0,NaN,0.0,2.0,7.0,4.0,6.0,10.0,13.0,19.0,8.0,19.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,164865.0,56306.0,19700.0,65365.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
197,68577637,NaN,19500.0,19500.0,19500.0,36 months,7.49,606.49,A,A4,Producer,< 1 year,RENT,85000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,900xx,CA,13.74,0.0,Aug-2001,730.0,734.0,0.0,NaN,NaN,8.0,0.0,18662.0,70.7,20.0,w,0.00,0.00,21816.261205,21816.26,19500.00,2316.26,0.0,0.0,0.0,Jan-2019,609.40,NaN,Jan-2019,664.0,660.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,42613.0,0.0,3.0,0.0,0.0,42.0,23951.0,54.0,0.0,0.0,5596.0,61.0,26400.0,0.0,1.0,0.0,0.0,5327.0,6698.0,73.4,0.0,0.0,172.0,138.0,49.0,42.0,0.0,49.0,NaN,NaN,NaN,0.0,4.0,4.0,4.0,5.0,12.0,5.0,8.0,5.0,8.0,0.0,0.0,0.0,0.0,100.0,50.0,0.0,0.0,70472.0,42613.0,25200.0,44072.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
198,68537513,NaN,2000.0,2000.0,2000.0,36 months,8.49,63.13,B,B1,Dean,8 years,MORTGAGE,140000.0,Source Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,other,Other,294xx,SC,6.78,0.0,Nov-1985,845.0,850.0,1.0,NaN,NaN,7.0,0.0,4110.0,6.8,16.0,w,0.00,0.00,2091.180000,2091.18,2000.00,76.18,15.0,0.0,0.0,Jun-2016,1960.21,NaN,Jun-2016,839.0,835.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,679308.0,0.0,1.0,0.0,1.0,15.0,32185.0,NaN,0.0,0.0,3050.0,7.0,60800.0,0.0,0.0,3.0,1.0,113218.0,50957.0,7.4,0.0,0.0,15.0,361.0,38.0,15.0,2.0,38.0,NaN,0.0,NaN,0.0,2.0,3.0,2.0,6.0,1.0,5.0,13.0,3.0,7.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,797960.0,36295.0,55000.0,40660.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
199,68366850,NaN,16000.0,16000.0,16000.0,36 months,5.32,481.84,A,A1,Marketing manager,8 years,MORTGAGE,96000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,551xx,MN,14.45,0.0,Sep-1990,725.0,729.0,1.0,55.0,NaN,23.0,0.0,21922.0,29.8,38.0,w,0.00,0.00,16700.539230,16700.54,16000.00,700.54,0.0,0.0,0.0,Dec-2016,11893.96,NaN,Dec-2016,744.0,740.0,0.0,55.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,200216.0,2.0,5.0,0.0,0.0,27.0,39393.0,82.0,1.0,4.0,7009.0,50.0,73500.0,2.0,12.0,4.0,5.0,8705.0,35742.0,18.0,0.0,0.0,303.0,139.0,1.0,1.0,6.0,16.0,NaN,4.0,NaN,0.0,3.0,6.0,6.0,9.0,10.0,16.0,22.0,7.0,23.0,0.0,0.0,0.0,2.0,97.3,16.7,0.0,0.0,293017.0,61315.0,43600.0,48119.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df.shape

(100000, 151)

In [26]:

print(df.info(verbose =True, max_cols = True,show_counts=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 151 columns):
 #    Column                                      Non-Null Count   Dtype
---   ------                                      --------------   -----
 0    id                                          100000 non-null  int64
 1    member_id                                   0 non-null       float64
 2    loan_amnt                                   100000 non-null  float64
 3    funded_amnt                                 100000 non-null  float64
 4    funded_amnt_inv                             100000 non-null  float64
 5    term                                        100000 non-null  object
 6    int_rate                                    100000 non-null  float64
 7    installment                                 100000 non-null  float64
 8    grade                                       100000 non-null  object
 9    sub_grade                                   100000 non-null  object
 10   emp_title                                   93867 non-null   object
 11   emp_length                                  93888 non-null   object
 12   home_ownership                              100000 non-null  object
 13   annual_inc                                  100000 non-null  float64
 14   verification_status                         100000 non-null  object
 15   issue_d                                     100000 non-null  object
 16   loan_status                                 100000 non-null  object
 17   pymnt_plan                                  100000 non-null  object
 18   url                                         100000 non-null  object
 19   desc                                        7 non-null       object
 20   purpose                                     100000 non-null  object
 21   title                                       99868 non-null   object
 22   zip_code                                    100000 non-null  object
 23   addr_state                                  100000 non-null  object
 24   dti                                         99998 non-null   float64
 25   delinq_2yrs                                 100000 non-null  float64
 26   earliest_cr_line                            100000 non-null  object
 27   fico_range_low                              100000 non-null  float64
 28   fico_range_high                             100000 non-null  float64
 29   inq_last_6mths                              100000 non-null  float64
 30   mths_since_last_delinq                      51806 non-null   float64
 31   mths_since_last_record                      17804 non-null   float64
 32   open_acc                                    100000 non-null  float64
 33   pub_rec                                     100000 non-null  float64
 34   revol_bal                                   100000 non-null  float64
 35   revol_util                                  99963 non-null   float64
 36   total_acc                                   100000 non-null  float64
 37   initial_list_status                         100000 non-null  object
 38   out_prncp                                   100000 non-null  float64
 39   out_prncp_inv                               100000 non-null  float64
 40   total_pymnt                                 100000 non-null  float64
 41   total_pymnt_inv                             100000 non-null  float64
 42   total_rec_prncp                             100000 non-null  float64
 43   total_rec_int                               100000 non-null  float64
 44   total_rec_late_fee                          100000 non-null  float64
 45   recoveries                                  100000 non-null  float64
 46   collection_recovery_fee                     100000 non-null  float64
 47   last_pymnt_d                                99929 non-null   object
 48   last_pymnt_amnt                             100000 non-null  float64
 49   next_pymnt_d                                12109 non-null   object
 50   last_credit_pull_d                          99997 non-null   object
 51   last_fico_range_high                        100000 non-null  float64
 52   last_fico_range_low                         100000 non-null  float64
 53   collections_12_mths_ex_med                  100000 non-null  float64
 54   mths_since_last_major_derog                 29371 non-null   float64
 55   policy_code                                 100000 non-null  float64
 56   application_type                            100000 non-null  object
 57   annual_inc_joint                            502 non-null     float64
 58   dti_joint                                   500 non-null     float64
 59   verification_status_joint                   502 non-null     object
 60   acc_now_delinq                              100000 non-null  float64
 61   tot_coll_amt                                100000 non-null  float64
 62   tot_cur_bal                                 100000 non-null  float64
 63   open_acc_6m                                 21372 non-null   float64
 64   open_act_il                                 21372 non-null   float64
 65   open_il_12m                                 21372 non-null   float64
 66   open_il_24m                                 21372 non-null   float64
 67   mths_since_rcnt_il                          20810 non-null   float64
 68   total_bal_il                                21372 non-null   float64
 69   il_util                                     18617 non-null   float64
 70   open_rv_12m                                 21372 non-null   float64
 71   open_rv_24m                                 21372 non-null   float64
 72   max_bal_bc                                  21372 non-null   float64
 73   all_util                                    21372 non-null   float64
 74   total_rev_hi_lim                            100000 non-null  float64
 75   inq_fi                                      21372 non-null   float64
 76   total_cu_tl                                 21372 non-null   float64
 77   inq_last_12m                                21372 non-null   float64
 78   acc_open_past_24mths                        100000 non-null  float64
 79   avg_cur_bal                                 100000 non-null  float64
 80   bc_open_to_buy                              99018 non-null   float64
 81   bc_util                                     98965 non-null   float64
 82   chargeoff_within_12_mths                    100000 non-null  float64
 83   delinq_amnt                                 100000 non-null  float64
 84   mo_sin_old_il_acct                          97222 non-null   float64
 85   mo_sin_old_rev_tl_op                        100000 non-null  float64
 86   mo_sin_rcnt_rev_tl_op                       100000 non-null  float64
 87   mo_sin_rcnt_tl                              100000 non-null  float64
 88   mort_acc                                    100000 non-null  float64
 89   mths_since_recent_bc                        99057 non-null   float64
 90   mths_since_recent_bc_dlq                    25427 non-null   float64
 91   mths_since_recent_inq                       89230 non-null   float64
 92   mths_since_recent_revol_delinq              35910 non-null   float64
 93   num_accts_ever_120_pd                       100000 non-null  float64
 94   num_actv_bc_tl                              100000 non-null  float64
 95   num_actv_rev_tl                             100000 non-null  float64
 96   num_bc_sats                                 100000 non-null  float64
 97   num_bc_tl                                   100000 non-null  float64
 98   num_il_tl                                   100000 non-null  float64
 99   num_op_rev_tl                               100000 non-null  float64
 100  num_rev_accts                               99999 non-null   float64
 101  num_rev_tl_bal_gt_0                         100000 non-null  float64
 102  num_sats                                    100000 non-null  float64
 103  num_tl_120dpd_2m                            94808 non-null   float64
 104  num_tl_30dpd                                100000 non-null  float64
 105  num_tl_90g_dpd_24m                          100000 non-null  float64
 106  num_tl_op_past_12m                          100000 non-null  float64
 107  pct_tl_nvr_dlq                              100000 non-null  float64
 108  percent_bc_gt_75                            98942 non-null   float64
 109  pub_rec_bankruptcies                        100000 non-null  float64
 110  tax_liens                                   100000 non-null  float64
 111  tot_hi_cred_lim                             100000 non-null  float64
 112  total_bal_ex_mort                           100000 non-null  float64
 113  total_bc_limit                              100000 non-null  float64
 114  total_il_high_credit_limit                  100000 non-null  float64
 115  revol_bal_joint                             0 non-null       float64
 116  sec_app_fico_range_low                      0 non-null       float64
 117  sec_app_fico_range_high                     0 non-null       float64
 118  sec_app_earliest_cr_line                    0 non-null       float64
 119  sec_app_inq_last_6mths                      0 non-null       float64
 120  sec_app_mort_acc                            0 non-null       float64
 121  sec_app_open_acc                            0 non-null       float64
 122  sec_app_revol_util                          0 non-null       float64
 123  sec_app_open_act_il                         0 non-null       float64
 124  sec_app_num_rev_accts                       0 non-null       float64
 125  sec_app_chargeoff_within_12_mths            0 non-null       float64
 126  sec_app_collections_12_mths_ex_med          0 non-null       float64
 127  sec_app_mths_since_last_major_derog         0 non-null       float64
 128  hardship_flag                               100000 non-null  object
 129  hardship_type                               781 non-null     object
 130  hardship_reason                             781 non-null     object
 131  hardship_status                             781 non-null     object
 132  deferral_term                               781 non-null     float64
 133  hardship_amount                             781 non-null     float64
 134  hardship_start_date                         781 non-null     object
 135  hardship_end_date                           781 non-null     object
 136  payment_plan_start_date                     781 non-null     object
 137  hardship_length                             781 non-null     float64
 138  hardship_dpd                                781 non-null     float64
 139  hardship_loan_status                        781 non-null     object
 140  orig_projected_additional_accrued_interest  621 non-null     float64
 141  hardship_payoff_balance_amount              781 non-null     float64
 142  hardship_last_payment_amount                781 non-null     float64
 143  disbursement_method                         100000 non-null  object
 144  debt_settlement_flag                        100000 non-null  object
 145  debt_settlement_flag_date                   2949 non-null    object
 146  settlement_status                           2949 non-null    object
 147  settlement_date                             2949 non-null    object
 148  settlement_amount                           2949 non-null    float64
 149  settlement_percentage                       2949 non-null    float64
 150  settlement_term                             2949 non-null    float64
dtypes: float64(114), int64(1), object(36)
memory usage: 115.2+ MB
None

In [ ]:
df.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,annual_inc_joint,dti_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,1.000000e+05,0.0,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,1.000000e+05,99998.000000,100000.000000,100000.000000,100000.000000,100000.000000,51806.000000,17804.000000,100000.000000,100000.000000,100000.000000,99963.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,1.000000e+05,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,29371.000000,100000.0,502.000000,500.000000,100000.000000,100000.000000,1.000000e+05,21372.000000,21372.000000,21372.000000,21372.000000,20810.000000,21372.000000,18617.000000,21372.000000,21372.000000,21372.000000,21372.000000,100000.00000,21372.000000,21372.000000,21372.000000,100000.000000,100000.000000,99018.000000,98965.000000,100000.000000,100000.000000,97222.000000,100000.00000,100000.000000,100000.000000,100000.000000,99057.000000,25427.000000,89230.000000,35910.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,99999.000000,100000.000000,100000.000000,94808.000000,100000.000000,100000.000000,100000.000000,100000.000000,98942.000000,100000.000000,100000.000000,1.000000e+05,1.000000e+05,100000.000000,1.000000e+05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,781.0,781.000000,781.0,781.000000,621.000000,781.000000,781.000000,2949.000000,2949.000000,2949.000000
mean,6.532613e+07,NaN,15055.861000,15055.861000,15047.107500,12.200478,434.553148,7.837135e+04,19.250957,0.349760,694.592800,698.592930,0.585750,34.059974,65.416423,11.949110,0.238520,17673.155580,52.498989,25.261490,1001.822710,1001.229872,15155.901258,15147.325155,12136.019317,2797.622687,2.057928e+00,220.201313,39.257429,4176.534533,678.473310,662.900200,0.021870,44.168431,1.0,110402.958008,18.249940,0.005920,267.823900,1.421636e+05,1.109021,2.928832,0.761651,1.674574,20.912686,36552.811389,71.580491,1.389060,2.975482,5887.979740,60.881995,34503.37689,0.943945,1.537058,2.234091,4.715170,13285.490560,10148.025975,61.007727,0.010520,14.510140,127.510965,187.11690,13.537530,7.806680,1.658080,24.796632,39.385653,6.648874,35.570621,0.523510,3.706720,5.707040,4.803140,7.966160,8.696670,8.381080,14.635426,5.711250,11.892830,0.000675,0.004270,0.094310,2.189030,93.859323,46.031002,0.133870,0.067050,1.768514e+05,5.297708e+04,22509.907400,4.471252e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,128.110333,3.0,14.262484,377.656522,10246.053239,187.473624,4935.599159,47.166372,13.609698
std,2.437069e+06,NaN,8641.837441,8641.837441,8636.872847,4.137499,246.203174,8.929612e+04,9.627229,0.922766,30.826355,30.826992,0.875725,21.976570,23.623425,5.683068,0.710474,23709.061984,24.134619,12.111739,2939.955684,2938.130076,9721.774251,9716.143371,8319.885840,2775.061837,1.436479e+01,940.664984,168.773727,6388.667692,79.387987,126.692858,0.162394,21.485110,0.0,52825.302372,7.194796,0.081394,2094.335068,1.576189e+05,1.242675,3.089987,0.996035,1.688725,27.209081,43103.833619,23.021964,1.520129,2.631886,5284.701239,20.013842,34709.85443,1.446872,2.723339,2.480242,3.244088,15849.093495,15343.535926,27.955184,0.117599,766.591371,52.306230,96.46322,17.373079,9.051218,1.941965,32.243631,23.095740,5.859898,22.693777,1.333201,2.328248,3.394845,3.102786,4.795038,7.506288,4.704829,8.278843,3.332858,5.665528,0.026773,0.070084,0.515382,1.878279,8.982081,36.417478,0.387363,0.518996,1.787188e+05,4.935696e+04,22337.604373,4.513517e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,103.199404,0.0,9.720266,305.269468,6362.471823,179.410405,3494.121127,5.713345,7.422959
min,5.670500e+04,NaN,1000.000000,1000.000000,900.000000,5.320000,14.770000,0.000000e+00,0.000000,0.000000,660.000000,664.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-2.000000e-10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,17950.000000,3.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,11.100000,0.000000,0.000000,0.000000,2.500000e+03,0.000000e+00,0.000000,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.640000,3.0,0.000000,1.920000,55.730000,0.020000,186.000000,20.000000,0.000000
25%,6.386754e+07,NaN,8000.000000,8000.000000,8000.000000,9.170000,256.550000,4.760000e+04,12.570000,0.000000,670.000000,674.000000,0.000000,15.000000,51.000000,8.000000,0.000000,6276.750000,34.400000,16.000000,0.000000,0.000000,7597.951062,7592.827500,5950.000000,928.420000,0.000000e+00,0.000000,0.000000,330.990000,634.000000,630.000000,0.000000,27.000000,1.0,77000.000000,13.187500,0.000000,0.000000,3.143275e+04,0.000000,1.000000,0.000000,0.000000,6.000000,10251.500000,59.000000,0.000000,1.000000,2411.000000,48.000000,14500.00000,0.000000,0.000000,0.000000,2.000000,3251.000000,1432.000000,39.700000,0.000000,0.000000,101.000000,120.00000,4.000000,3.000000,0.000000,6.000000,20.000000,2.000000,16.000000,0.000000,2.000000,3.000000,3.000000,5.000000,4.000000,5.000000,9.000000,3.000000,8.000000,0.000000,0.000000,0.000000,1.000000,90.900000,12.500000,0.000000,0.000000,5.222000e+04,2.276500e+04,8000.000000,1.610925e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,47.710000,3.0,7.000000,141.720000,5044.210000,46.500000,2111.630000,45.000000,8.000000
50%,6.564457e+07,NaN,13875.000000,13875.000000,13825.000000,11.990000,378.070000,6.500000e+04,18.700000,0.000000,685.000000,689.000000,0.000000,31.000000,67.000000,11.000000,0.000000,11813.500000,52.400000,24.000000,0.000000,0.000000,13011.005327,13006.030000,10000.000000,1837.770000,0.000000e+00,0.000000,0.000000,752.850000,694.000000,690.000000,0.000000,44.000000,1.0,102000.000000,17.555000,0.000000,0.000000,8.176600e+04,1.000000,2.000000,0.000000,1.000000,12.000000,24684.500000,75.000000,1.000000,2.000000,4483.000000,62.000000,25200.00000,0.000000,0.000000,2.000000,4.000000,7467.000000,4724.000000,64.000000,0.000000,0.000000,130.000000,170.00000,8.000000,5.000000,1.000000,14.000000,37.000000,5.000000,32.000000,0.000000,3.000000,5.000000,4.000000,7.000000,7.000000,7.000000,13.000000,5.000000,11.000000,0.000000,0.000000,0.000000,2.000000,97.400000,50.000000,0.000000,0.000000,1.150185e+05,4.023650e+04,15600.000000,3.407050e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,102.110000,3.0,15.000000,301.530000,9195.990000,138.310000,4251.720000,45.000000,14.000000
75%,6.654285e+07,NaN,20000.000000,20000.000000,20000.000000,14.480000,572.850000,9.400000e+04,25.530000,0.000000,710.000000,714.000000,1.000000,50.000000,81.000000,15.000000,0.000000,21349.000000,70.900000,32.000000,0.000000,0.000000,20929.666057,20922.945000,16500.000000,3736.690000,0.000000e+00,0.000000,0.000000,5837.892500,734.000000,730.000000,0.000000,63.000000,1.0,133000.000000,22.642500,0.000000,0.000000,2.101342e+05,2.000000,4.000000,1.000000,2.000000,23.000000,47858.000000,88.000000,2.000000,4.000000,7771.500000,75.000000,43000.00000,1.000000,2.000000,3.000000,6.000000,18193.250000,12265.000000,85.800000,0.000000,0.000000,154.000000,239.00000,16.000000,10.000000,3.000000,29.000000,60.000000,10.000000,52.000000,0.000000,5.000000,7.000000,6.000000,10.000000,12.000000,11.000000,19.000000,7.000000,15.000000,0.000000,0.000000,0.000000,3.000000,100.000000,75.000000,0.000000,0.000000,2.547132e+05,6.692500e+04,29500.000000,5.983575e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,175.790000,3.0,23.000000,519.780000,14667.450000,273.840000,6898.960000,50.000000,18.000000
max,6.861706e+07,NaN,35000.000000,35000.000000,35000.000000,28.990000,1354.660000,9.000000e+06,999.000000,30.000000,845.000000,850.000000,5.000000,157.000000,120.000000,67.000000,86.000000,898146.000000,152.500000,135.000000,22692.220000,22692.220000,57291.001148,57291.000000,35000.000000,24125.830000,1.098360e+03,33407.160000,6013.288800,36307.010000,850.000000,845.000000,7.000000,157.000000,1.0,500000.000000,43.860000,4.000000,169257.000000,3.608951e+06,14.000000,40.000000,12.000000,19.000000,363.000000,878459.000000,223.000000,22.000000,43.000000,127305.000000,151.000000,888800.00000,17.000000,35.000000,32.000000,64.000000,368205.000000,263953.000000,235.300000,7.000000,88216.000000,651.000000,791.00000,315.000000,197.000000,35.000000,524.000000,189.000000,24.000000,157.000000,32.000000,29.000000,42.000000,39.000000,65.000000,104.000000,66.000000,118.000000,43.000000,67.000000,2.000000,4.000000,30.000000,30.000000,100.000000,100.000000,8.000000,85.000000,9.999999e+06,1.684313e+06,317000.000000,2.101913e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,638.130000,3.0,30.000000,1914.390000,29401.040000,926.410000,23105.580000,97.660000,65.000000

<bound method hist_frame of              id  member_id  loan_amnt  funded_amnt  funded_amnt_inv  \
0      68407277        NaN     3600.0       3600.0           3600.0
1      68355089        NaN    24700.0      24700.0          24700.0
2      68341763        NaN    20000.0      20000.0          20000.0
3      66310712        NaN    35000.0      35000.0          35000.0
4      68476807        NaN    10400.0      10400.0          10400.0
...         ...        ...        ...          ...              ...
99995  62197780        NaN    20000.0      20000.0          20000.0
99996  61374218        NaN     3000.0       3000.0           3000.0
99997  60903843        NaN    14000.0      14000.0          14000.0
99998  61973344        NaN    30000.0      30000.0          30000.0
99999  62297713        NaN    24000.0      24000.0          24000.0

             term  int_rate  installment grade sub_grade  \
0       36 months     13.99       123.03     C        C4
1       36 months     11.99       820.28     C        C1
2       60 months     10.78       432.66     B        B4
3       60 months     14.85       829.90     C        C5
4       60 months     22.45       289.91     F        F1
...           ...       ...          ...   ...       ...
99995   36 months     11.53       659.81     B        B5
99996   36 months     11.53        98.98     B        B5
99997   60 months     17.57       352.25     D        D4
99998   36 months     12.69      1006.35     C        C2
99999   60 months      9.99       509.82     B        B3

                         emp_title emp_length home_ownership  annual_inc  \
0                          leadman  10+ years       MORTGAGE     55000.0
1                         Engineer  10+ years       MORTGAGE     65000.0
2                     truck driver  10+ years       MORTGAGE     63000.0
3      Information Systems Officer  10+ years       MORTGAGE    110000.0
4              Contract Specialist    3 years       MORTGAGE    104433.0
...                            ...        ...            ...         ...
99995                  Broadcaster    8 years       MORTGAGE     57000.0
99996                  Pet Stylist    8 years           RENT     45000.0
99997          pharmacy technician    3 years           RENT     36000.0
99998                          NaN        NaN       MORTGAGE     60000.0
99999   NE Region Business Analyst    3 years       MORTGAGE     97000.0

      verification_status   issue_d loan_status pymnt_plan  \
0            Not Verified  Dec-2015  Fully Paid          n
1            Not Verified  Dec-2015  Fully Paid          n
2            Not Verified  Dec-2015  Fully Paid          n
3         Source Verified  Dec-2015     Current          n
4         Source Verified  Dec-2015  Fully Paid          n
...                   ...       ...         ...        ...
99995            Verified  Oct-2015  Fully Paid          n
99996     Source Verified  Oct-2015  Fully Paid          n
99997        Not Verified  Oct-2015  Fully Paid          n
99998            Verified  Oct-2015  Fully Paid          n
99999        Not Verified  Oct-2015     Current          n

                                                     url desc  \
0      https://lendingclub.com/browse/loanDetail.acti...  NaN
1      https://lendingclub.com/browse/loanDetail.acti...  NaN
2      https://lendingclub.com/browse/loanDetail.acti...  NaN
3      https://lendingclub.com/browse/loanDetail.acti...  NaN
4      https://lendingclub.com/browse/loanDetail.acti...  NaN
...                                                  ...  ...
99995  https://lendingclub.com/browse/loanDetail.acti...  NaN
99996  https://lendingclub.com/browse/loanDetail.acti...  NaN
99997  https://lendingclub.com/browse/loanDetail.acti...  NaN
99998  https://lendingclub.com/browse/loanDetail.acti...  NaN
99999  https://lendingclub.com/browse/loanDetail.acti...  NaN

                  purpose                    title zip_code addr_state    dti  \
0      debt_consolidation       Debt consolidation    190xx         PA   5.91
1          small_business                 Business    577xx         SD  16.06
2        home_improvement                      NaN    605xx         IL  10.78
3      debt_consolidation       Debt consolidation    076xx         NJ  17.06
4          major_purchase           Major purchase    174xx         PA  25.37
...                   ...                      ...      ...        ...    ...
99995  debt_consolidation       Debt consolidation    641xx         MO  25.77
99996               other                    Other    322xx         FL  19.23
99997  debt_consolidation       Debt consolidation    270xx         NC  23.43
99998         credit_card  Credit card refinancing    182xx         PA  27.92
99999         credit_card  Credit card refinancing    462xx         IN  19.26

       delinq_2yrs earliest_cr_line  fico_range_low  fico_range_high  \
0              0.0         Aug-2003           675.0            679.0
1              1.0         Dec-1999           715.0            719.0
2              0.0         Aug-2000           695.0            699.0
3              0.0         Sep-2008           785.0            789.0
4              1.0         Jun-1998           695.0            699.0
...            ...              ...             ...              ...
99995          0.0         Jun-2000           705.0            709.0
99996          0.0         Oct-2011           695.0            699.0
99997          0.0         Apr-2003           665.0            669.0
99998          0.0         Apr-1984           730.0            734.0
99999          0.0         Jun-1992           705.0            709.0

       inq_last_6mths  mths_since_last_delinq  mths_since_last_record  \
0                 1.0                    30.0                     NaN
1                 4.0                     6.0                     NaN
2                 0.0                     NaN                     NaN
3                 0.0                     NaN                     NaN
4                 3.0                    12.0                     NaN
...               ...                     ...                     ...
99995             0.0                     NaN                     NaN
99996             0.0                     NaN                     NaN
99997             0.0                     NaN                    75.0
99998             0.0                     NaN                     NaN
99999             1.0                     NaN                     NaN

       open_acc  pub_rec  revol_bal  revol_util  total_acc  \
0           7.0      0.0     2765.0        29.7       13.0
1          22.0      0.0    21470.0        19.2       38.0
2           6.0      0.0     7869.0        56.2       18.0
3          13.0      0.0     7802.0        11.6       17.0
4          12.0      0.0    21929.0        64.5       35.0
...         ...      ...        ...         ...        ...
99995      12.0      0.0    19996.0        52.2       34.0
99996      13.0      0.0    12247.0        51.0       13.0
99997      18.0      1.0    16982.0        49.4       24.0
99998      10.0      0.0    42118.0        61.8       22.0
99999      12.0      0.0    37289.0        77.8       21.0

      initial_list_status  out_prncp  out_prncp_inv   total_pymnt  \
0                       w       0.00           0.00   4421.723917
1                       w       0.00           0.00  25679.660000
2                       w       0.00           0.00  22705.924294
3                       w   15897.65       15897.65  31464.010000
4                       w       0.00           0.00  11740.500000
...                   ...        ...            ...           ...
99995                   w       0.00           0.00  22700.262407
99996                   w       0.00           0.00   3559.047739
99997                   w       0.00           0.00  18746.766867
99998                   w       0.00           0.00  35660.447116
99999                   w    8924.50        8924.50  20909.280000

       total_pymnt_inv  total_rec_prncp  total_rec_int  total_rec_late_fee  \
0              4421.72          3600.00         821.72                 0.0
1             25679.66         24700.00         979.66                 0.0
2             22705.92         20000.00        2705.92                 0.0
3             31464.01         19102.35       12361.66                 0.0
4             11740.50         10400.00        1340.50                 0.0
...                ...              ...            ...                 ...
99995         22700.26         20000.00        2700.26                 0.0
99996          3559.05          3000.00         559.05                 0.0
99997         18746.77         14000.00        4746.77                 0.0
99998         35660.45         30000.00        5660.45                 0.0
99999         20909.28         15075.50        5833.78                 0.0

       recoveries  collection_recovery_fee last_pymnt_d  last_pymnt_amnt  \
0             0.0                      0.0     Jan-2019           122.67
1             0.0                      0.0     Jun-2016           926.35
2             0.0                      0.0     Jun-2017         15813.30
3             0.0                      0.0     Feb-2019           829.90
4             0.0                      0.0     Jul-2016         10128.96
...           ...                      ...          ...              ...
99995         0.0                      0.0     Mar-2017         12156.11
99996         0.0                      0.0     Oct-2018            98.59
99997         0.0                      0.0     Jan-2018          9600.60
99998         0.0                      0.0     Jan-2018          9675.13
99999         0.0                      0.0     Mar-2019           509.82

      next_pymnt_d last_credit_pull_d  last_fico_range_high  \
0              NaN           Mar-2019                 564.0
1              NaN           Mar-2019                 699.0
2              NaN           Mar-2019                 704.0
3         Apr-2019           Mar-2019                 679.0
4              NaN           Mar-2018                 704.0
...            ...                ...                   ...
99995          NaN           Mar-2019                 709.0
99996          NaN           Nov-2018                 719.0
99997          NaN           Feb-2018                 749.0
99998          NaN           Jan-2018                 704.0
99999     Apr-2019           Jul-2018                 729.0

       last_fico_range_low  collections_12_mths_ex_med  \
0                    560.0                         0.0
1                    695.0                         0.0
2                    700.0                         0.0
3                    675.0                         0.0
4                    700.0                         0.0
...                    ...                         ...
99995                705.0                         0.0
99996                715.0                         0.0
99997                745.0                         0.0
99998                700.0                         0.0
99999                725.0                         0.0

       mths_since_last_major_derog  policy_code application_type  \
0                             30.0          1.0       Individual
1                              NaN          1.0       Individual
2                              NaN          1.0        Joint App
3                              NaN          1.0       Individual
4                              NaN          1.0       Individual
...                            ...          ...              ...
99995                          NaN          1.0       Individual
99996                          NaN          1.0       Individual
99997                          NaN          1.0       Individual
99998                          NaN          1.0       Individual
99999                          NaN          1.0       Individual

       annual_inc_joint  dti_joint verification_status_joint  acc_now_delinq  \
0                   NaN        NaN                       NaN             0.0
1                   NaN        NaN                       NaN             0.0
2               71000.0      13.85              Not Verified             0.0
3                   NaN        NaN                       NaN             0.0
4                   NaN        NaN                       NaN             0.0
...                 ...        ...                       ...             ...
99995               NaN        NaN                       NaN             0.0
99996               NaN        NaN                       NaN             0.0
99997               NaN        NaN                       NaN             0.0
99998               NaN        NaN                       NaN             0.0
99999               NaN        NaN                       NaN             0.0

       tot_coll_amt  tot_cur_bal  open_acc_6m  open_act_il  open_il_12m  \
0             722.0     144904.0          2.0          2.0          0.0
1               0.0     204396.0          1.0          1.0          0.0
2               0.0     189699.0          0.0          1.0          0.0
3               0.0     301500.0          1.0          1.0          0.0
4               0.0     331730.0          1.0          3.0          0.0
...             ...          ...          ...          ...          ...
99995           0.0     118176.0          NaN          NaN          NaN
99996           0.0      21648.0          NaN          NaN          NaN
99997           0.0      32505.0          NaN          NaN          NaN
99998           0.0     167689.0          NaN          NaN          NaN
99999           0.0      53559.0          NaN          NaN          NaN

       open_il_24m  mths_since_rcnt_il  total_bal_il  il_util  open_rv_12m  \
0              1.0                21.0        4981.0     36.0          3.0
1              1.0                19.0       18005.0     73.0          2.0
2              4.0                19.0       10827.0     73.0          0.0
3              1.0                23.0       12609.0     70.0          1.0
4              3.0                14.0       73839.0     84.0          4.0
...            ...                 ...           ...      ...          ...
99995          NaN                 NaN           NaN      NaN          NaN
99996          NaN                 NaN           NaN      NaN          NaN
99997          NaN                 NaN           NaN      NaN          NaN
99998          NaN                 NaN           NaN      NaN          NaN
99999          NaN                 NaN           NaN      NaN          NaN

       open_rv_24m  max_bal_bc  all_util  total_rev_hi_lim  inq_fi  \
0              3.0       722.0      34.0            9300.0     3.0
1              3.0      6472.0      29.0          111800.0     0.0
2              2.0      2081.0      65.0           14000.0     2.0
3              1.0      6987.0      45.0           67300.0     0.0
4              7.0      9702.0      78.0           34000.0     2.0
...            ...         ...       ...               ...     ...
99995          NaN         NaN       NaN           38300.0     NaN
99996          NaN         NaN       NaN           24000.0     NaN
99997          NaN         NaN       NaN           34400.0     NaN
99998          NaN         NaN       NaN           68200.0     NaN
99999          NaN         NaN       NaN           47900.0     NaN

       total_cu_tl  inq_last_12m  acc_open_past_24mths  avg_cur_bal  \
0              1.0           4.0                   4.0      20701.0
1              0.0           6.0                   4.0       9733.0
2              5.0           1.0                   6.0      31617.0
3              1.0           0.0                   2.0      23192.0
4              1.0           3.0                  10.0      27644.0
...            ...           ...                   ...          ...
99995          NaN           NaN                   6.0      10743.0
99996          NaN           NaN                   5.0       1804.0
99997          NaN           NaN                   8.0       1806.0
99998          NaN           NaN                   1.0      16769.0
99999          NaN           NaN                   2.0       4869.0

       bc_open_to_buy  bc_util  chargeoff_within_12_mths  delinq_amnt  \
0              1506.0     37.2                       0.0          0.0
1             57830.0     27.1                       0.0          0.0
2              2737.0     55.9                       0.0          0.0
3             54962.0     12.1                       0.0          0.0
4              4567.0     77.5                       0.0          0.0
...               ...      ...                       ...          ...
99995          1168.0     89.4                       0.0          0.0
99996          7121.0     62.9                       0.0          0.0
99997          1419.0     90.1                       0.0          0.0
99998         21582.0     66.1                       0.0          0.0
99999          3666.0     90.7                       0.0          0.0

       mo_sin_old_il_acct  mo_sin_old_rev_tl_op  mo_sin_rcnt_rev_tl_op  \
0                   148.0                 128.0                    3.0
1                   113.0                 192.0                    2.0
2                   125.0                 184.0                   14.0
3                    36.0                  87.0                    2.0
4                   128.0                 210.0                    4.0
...                   ...                   ...                    ...
99995               184.0                 166.0                   12.0
99996                41.0                  48.0                    4.0
99997               150.0                 129.0                    6.0
99998               174.0                 378.0                   31.0
99999               280.0                 231.0                    6.0

       mo_sin_rcnt_tl  mort_acc  mths_since_recent_bc  \
0                 3.0       1.0                   4.0
1                 2.0       4.0                   2.0
2                14.0       5.0                 101.0
3                 2.0       1.0                   2.0
4                 4.0       6.0                   4.0
...               ...       ...                   ...
99995             5.0       4.0                  33.0
99996             4.0       0.0                  18.0
99997             6.0       0.0                  16.0
99998            24.0       4.0                  31.0
99999             6.0       0.0                   6.0

       mths_since_recent_bc_dlq  mths_since_recent_inq  \
0                          69.0                    4.0
1                           NaN                    0.0
2                           NaN                   10.0
3                           NaN                    NaN
4                          12.0                    1.0
...                         ...                    ...
99995                       NaN                    5.0
99996                       NaN                   13.0
99997                       NaN                   11.0
99998                       NaN                    4.0
99999                       NaN                    6.0

       mths_since_recent_revol_delinq  num_accts_ever_120_pd  num_actv_bc_tl  \
0                                69.0                    2.0             2.0
1                                 6.0                    0.0             5.0
2                                 NaN                    0.0             2.0
3                                 NaN                    0.0             4.0
4                                12.0                    0.0             4.0
...                               ...                    ...             ...
99995                             NaN                    0.0             1.0
99996                             NaN                    0.0             7.0